
/************* FLEXBOX *************/

.row-flex {
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-flex-item {
    /* display: flex; */
    /* flex: 1; */
}

.transport-info {
    align-self: flex-end;
}