body {
    margin: 0;
    padding: 0;
    --main-text-color: #E6E2AF; 
    --secondary-text-color: #A7A37E;
    --third-text-color: #EFECCA;
    --fourth-text-color: #046380;
    --fifth-text-color: #002F2F;

    /* --main-text-color:#2C3E50;
    --secondary-text-color:#E74C3C;
    --third-text-color:#ECF0F1;
    --fourth-text-color:#3498DB;
    --fifth-text-color:#2980B9; */

}

body {
	font-family: 'Raleway', sans-serif;
    color: #002F2F;
}

.navbar {
    background-color: #F7F7F7;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar > .navbar-left {
    float: left;
    margin-left: 7.142857143%;
}
.navbar > .navbar-right {
    float: right;
    margin-right: 7.142857143%;
}

.navbar > .navbar-right > .navbar-list {
    list-style-type: none;
    margin: 0;
    float: right;
    font-size: 0;
    padding-left: 0;
}
.navbar > .navbar-left > .navbar-home {
    list-style-type: none;
    margin: 0;
    float: left;
    font-size: 0;
    margin-left: 7.142857143%;
    display: inline-block;
}

.navbar > .navbar-left > .navbar-home > .navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar > .navbar-left > .navbar-home a {
    padding: 20px 20px 20px 0;
    text-decoration: none;
    display: inline-block;
}

.navbar > .navbar-right > .navbar-list > .navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar > .navbar-right > .navbar-list > .navbar-item a {
    padding: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
}

.navbar > .navbar-right > .navbar-list > .navbar-item .active a {
    color: #F7F7F7;
    background-color: #A4A4A4;
}

.navbar > .navbar-right > .navbar-list > .navbar-item a:hover {
    color: #F7F7F7;
    background-color: #A4A4A4;
}

.cover-container {
    margin:auto;
}

.title {
    text-align: center;
     font-size: 3.9em; 
    color: #FFFFFF;
    font-weight: 100;
    text-shadow: 2px 2px #A6A5A5;
}

.title-cite {
    width: 70%;
    text-align: center;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    text-align: justify;
}

.header {
	/* width: 100%; */
}

.header .title-img {
	width: 100%;
	height: 100vh;
	display: flex;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/pexels-photo-273238.jpeg);
}

.section {
    /* height: 100px; */
    background-color: #E6E2AF;
    padding: 1em;
}

.section > header > h2 {
    color: #046380;
    font-family: 'Bellefair', serif;
    text-align: center;
    font-size: 28px;
    /* background-color: rgba(239,236,202,0.6); */
    /* padding: 20px;
    border-radius: 1.5em;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    margin: auto; */
}

.summary-section > .section-content {
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    align-items: center;
    justify-content: center;

} 

.summary-section > .section-content p {
    width: 80%;
    display: inline-block;
    text-align: center;
}

.summary-items > .item1 {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item2 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item3 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item4 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item5 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item6 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item7 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item8 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item9 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item10 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item11 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item12 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}

.summary-items > .item13 {
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 2px 2px #888888;
}

.summary-items > .item14 {
    font-weight: bold;
    font-size: 1.4em;
    text-shadow: 1px 1px #888888;
    color: #046380;
}




